body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(2, 6, 23);
    color: white;
}

.page {
    display: flex;
    min-height: 100vh;
}

/* Left Section */
.content-box {
    width: 50%;
    padding: 40px;
    background-color: rgb(15, 23, 42);
}


.header {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
}

/* Back Button */
.back-btn-area {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.back-btn {
    display: inline-flex;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid lightslategray;
    background-color: rgba(14, 15, 30, 0.8);
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.back-btn:hover {
    color: lightblue;
    background: lightcoral;
    transform: scale(1.05);
}

.back-btn img {
    width: 16px;
    height: 16px;
}


.header h1 {
    font-size: 24px;
    margin: 0;
}

.header span {
    color: turquoise;
}

/* Cards */
.card {
    background-color: rgb(30, 41, 59);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.icon {
    width: 24px;
    height: 24px;
}

p {
    color: lightgray;
    line-height: 1.6;
}

.italic {
    font-style: italic;
    color: gray;
}

/* Members */
.member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 23, 42);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Initials circle (left) */
.avatar {
    width: 40px;
    height: 40px;
    background-color: indigo;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-shrink: 0;
}

/* Middle text */
.info {
    flex: 1;
    margin-left: 20px;
}

.name {
    font-weight: bold;
    color: white;
}

.role {
    font-size: 14px;
    color: turquoise;
}

.member-icon {
    width: 80px; 
    height: 80px;
    border-radius: 6px; 
    object-fit: cover;
    flex-shrink: 0;
}

/* Footer */
.footer {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 20px;
}

.footer h4 {
    margin: 0 0 5px;
}

/* Right Section */
.image-box {
    width: 50%;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
