/* PAGE BACKGROUND */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: darkslategray;
    color: white;
}


/* BACK BUTTON */
.back-btn-area {
    position: fixed;
    top: 20px;
    left: 20px;
}

.back-btn {
    display: inline-flex;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid lightslategray;
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 14px;
}

.back-btn:hover {
    color: lightblue;
    background: lightcoral;
}

/* MAIN CARD */
.card {
    max-width: 900px;
    margin: 120px auto;
    background: rgb(14, 15, 30);
    padding: 40px 50px;
    border-radius: 25px;
}

/* HEADER */
.header {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.userr {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.birthr {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.addrei {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.divi {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.posti {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.phni {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.emaili {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.genderi {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.photoi {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.passir {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.rpassir {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.filei {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header h1 {
    font-size: 32px;
    margin: 10px 0;
}

.highlight {
    color: rgb(50, 200, 203);
}

.header h2 {
    margin-top: 10px;
    font-size: 20px;
}

.header p {
    color: rgb(121, 152, 164);
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

/* INPUT FIELD */
input,
select {
    width: 100%;
    padding: 14px;
    background: rgb(48, 58, 70);
    border: 2px solid gray;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: rgb(62, 190, 190);
    box-shadow: 0 0 10px rgba(45,212,191,0.25);
}

/* BUTTONS */
.btn-row {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn-submit {
    flex: 1;
    background: rgb(39, 220, 211);
    padding: 15px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}

.btn-submit:hover {
    background: rgb(80, 166, 185);
}

.btn-reset {
    flex: 1;
    background: transparent;
    border: 2px solid lightskyblue;
    color: whitesmoke;
    padding: 15px;
    border-radius: 12px;
}

.btn-reset:hover {
    background: rgb(79, 94, 117);
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 25px;
    color: rgb(123, 151, 204);
    font-size: 14px;
}

.footer a {
    color: blue;
    text-decoration: none;
}

.footer a:hover {
    color: turquoise
}
