* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.top-bar {
    height: 70px;
    background: rgb(30, 41, 59);
    border: 1px solid rgb(51, 65, 85);
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.highlight {
    color: rgb(34, 211, 238);
}

.page-title {
    margin-left: 20px;
    font-size: 20px;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

/* BUTTONS */
.btn {
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    color: lightgoldenrodyellow;
}

.btn-icon {
    width: 18px;
    height: 18px;
}

.back,
.home,
.clear {
    background: rgb(37, 150, 187);
}

.approve {
    background: green;
}

.reject {
    background: rgb(225, 69, 69);
}

/* MAIN */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: rgb(15, 23, 42);
    min-height: 90vh;
}

/* TABLE CARD */
.table-card {
    flex: 2;
    background: rgb(30, 41, 59);
    padding: 20px;
    border-radius: 12px;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgb(51, 65, 85);
    padding: 10px;
    border-radius: 10px;
}

.search-box input {
    flex: 1;
    padding: 8px;
    border: none;
    background: transparent;
    color: whitesmoke;
    outline: none;
}

.search-icon {
    width: 16px;
    height: 16px;
}

/* TABLE */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: 1100px;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    color: whitesmoke;
    border-bottom: 1px solid rgb(51, 65, 85);
    text-align: left;
    white-space: nowrap;
}

th {
    font-size: 13px;
    color: rgb(148, 163, 184);
}

.actions {
    display: flex;
    justify-content: center;
}

.action-btn {
    background: transparent;
    border: none;
    color: rgb(41, 167, 202);
    cursor: pointer;
    font-size: 13px;
}

h3 {
    color: whitesmoke;
    margin-top: 15px;
}

/* DETAILS CARD */
.details-card {
    width: 300px;
    background: rgb(30, 41, 59);
    padding: 20px;
    border-radius: 12px;
}

.detail-box {
    margin-top: 15px;
}

.detail-box label {
    font-size: 13px;
    color: rgb(148, 163, 184);
}

.detail-value {
    height: 36px;
    margin-top: 6px;
    background: rgb(51, 65, 85);
    border-radius: 6px;
}

.detail-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.note {
    font-size: 12px;
    color: rgb(148, 163, 184);
    margin-top: 15px;
}
