* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
}

/* Main Page */
.page {
    display: flex;
    height: 100vh;
}

/* Left Login Section */
.login-box {
    width: 40%;
    background-color: rgb(14, 15, 30);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 170px;
    height: 130px;
    margin-right: 10px;
    border-radius: 12px;
}



.header h1 {
    color: white;
    font-size: 26px;
}

.header h1 span {
    color: turquoise;
}

.login-box h2 {
    color: white;
    margin-bottom: 10px;
}

.login-box p {
    color: lightgray;
    margin-bottom: 30px;
}

.useri {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.passi {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.rolei {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.coni {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.helpi {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


/* Form */
form label {
    color: white;
    font-size: 14px;
}

form input,
form select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    background-color: slategray;
    border: none;
    border-radius: 6px;
    color: white;
}


form input::placeholder {
    color: lightgray;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.forgot {
    color: red;
    font-size: 14px;
    text-decoration: none;
}

.create {
    color: turquoise;
    font-size: 14px;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: turquoise;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: lightseagreen;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.footer a {
    color: lightgray;
    font-size: 12px;
    text-decoration: none;
}

.footer a:hover {
    color: turquoise;
}

/* Right Image Section */
.image-box {
    width: 60%;
    position: relative;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

